*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index:100;
    width: 100vw;   /* vw - takes a total full width of the visible screen */
    height: 100vh;  /* vh - takes a total full height of the visible screen */
    background: rgba(0,0,0, 0.5);
}

.modal {
    position: fixed;
    display: none;
    top: 25%;
    left: 35%;
    width: 40%;
    z-index: 200;
    background: white;
    padding: 2.3rem;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.modal__title {
    text-align: center;
    font-weight: bold;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    background: #0e4f1f;
    padding: 0.5rem 1rem;
    color: white;
    font: inherit;
    text-decoration: none;
    border: 1px solid #0e4f1f;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active{
    background: #ff5454;
    border-color: #ff5454;
}

/****************************************************
*                MAIN HEADER
****************************************************/
.main-header {
    width: 100%;
    background: #2ddf2d;
    padding: 8px 11px;
    position: fixed;
    z-index: 1;
}

/* combinator selector - select the direct child div of the main header */
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: #0e4f1f;
    font-weight: 700;
    font-size: 24px;
    height: 22px;
    display: inline-block;
    /* width: 20px; */
}

.main-header__brand img {
    height: 100%;
}

.main-header__brand a {
    text-decoration: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 115px);
    vertical-align: middle;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item{
    display: inline;
    margin: 0 16px;
    /* margin-top:0. margin-botton:0,margin-left: 16px;margin-right:16px */
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

/* pseduo element -  define the style of the special part of the element */
/* .main-nav__item a::after{
    content: " (Link)";
    color: red;
}
/* Pseduo element - 
p::first-letter {
    font-size: 22px;
    color: red;
}
 */ 

/* Pseudo selector/class with hover and grouping them becasue they are sharing the same style */
.main-nav__item a:hover,
.main-nav__item a:hover{
    color: white;
    border-bottom: 3px solid white;
}

.main-nav__item--cta a{
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

/********************************************
 *            FOOTER
 ********************************************/
 .main-footer {
    background: black;
    margin-top: 48px;
    padding: 32px;
}

.main-footer__links {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}